**Представленные метрики перечислены по принципу:** 
 1. Название (аббревиатура, варианты на английском и на русском)
 2. Описание (короткое описание)
 3. Формула (будут создаваться с помощью LaTex)
 4. Пример (для расчетов будут создаваться датафреймы с рандомными значениями с помощью Pandas/Numpy)
 5. Интерпретация результата (что даёт результат?)

-----

In [1]:
import pandas as pd
import numpy as np

<font color='fuchsia' size=5>ROI (Return on Investment — возврат инвестиций)</font>
===
метрика показывает возврат инвестиций от вложенных денег в маркетинг
--
<font color='green' size=5>формула:</font>
    $\LARGE ROI=\frac{(\text{Доход - Расходы})}{\text{Расходы на маркетинг}}*100 \%$

<font color='brown' size=5>пример:</font>

In [21]:
np.random.seed(0)
data = {'Месяц':['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], 
        'Доходы': np.random.randint(100_000, 150_000, size=12),
        'Расходы': np.array([100_000]*12),
        'Расходы на маркетинг': np.random.choice([5000,10000], size=12),
        'ROI (в %)': np.arange(12)} 
df = pd.DataFrame(data)
df["Расходы"] = np.where(df["Расходы на маркетинг"] == 5000, df["Расходы"]+5000, df["Расходы"]+10000)
df['ROI (в %)'] = ((df['Доходы']-df['Расходы'])/df['Расходы на маркетинг']*100).round()
df

       Месяц  Доходы  Расходы  Расходы на маркетинг  ROI (в %)
0     Январь  102732   105000                  5000      -45.0
1    Февраль  143567   105000                  5000      771.0
2       Март  142613   105000                  5000      752.0
3     Апрель  145891   105000                  5000      818.0
4        Май  121243   110000                 10000      112.0
5       Июнь  130403   105000                  5000      508.0
6       Июль  132103   110000                 10000      221.0
7     Август  141993   110000                 10000      320.0
8   Сентябрь  120757   105000                  5000      315.0
9    Октябрь  146884   105000                  5000      838.0
10    Ноябрь  114935   110000                 10000       49.0
11   Декабрь  115430   110000                 10000       54.0

Если ROI меньше 0% — вы понесли убытки. Если равен 0% — вложения окупились, но прибыли нет. Если больше 0% — вы получили прибыль
--