#### üöÄü™ê –°–ø–∏—Å–æ–∫ –±—É–¥–µ—Ç –ø–æ—Å—Ç–µ–ø–µ–Ω–Ω–æ –æ–±–Ω–æ–≤–ª—è—Ç—å—Å—è –Ω–æ–≤—ã–º–∏ –º–µ—Ç—Ä–∏–∫–∞–º–∏ üååüõ∏

<font color='red' size=5>**–ü—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –º–µ—Ç—Ä–∏–∫–∏ –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω—ã –ø–æ –ø—Ä–∏–Ω—Ü–∏–ø—É:**</font>
--
 1. –ù–∞–∑–≤–∞–Ω–∏–µ (–∞–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä–∞, –≤–∞—Ä–∏–∞–Ω—Ç—ã –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º –∏ –Ω–∞ —Ä—É—Å—Å–∫–æ–º)
 2. –û–ø–∏—Å–∞–Ω–∏–µ (–∫–æ—Ä–æ—Ç–∫–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ)
 3. –§–æ—Ä–º—É–ª–∞ (–±—É–¥—É—Ç —Å–æ–∑–¥–∞–≤–∞—Ç—å—Å—è —Å –ø–æ–º–æ—â—å—é LaTex)
 4. –ü—Ä–∏–º–µ—Ä (–¥–ª—è —Ä–∞—Å—á–µ—Ç–æ–≤ –±—É–¥—É—Ç —Å–æ–∑–¥–∞–≤–∞—Ç—å—Å—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã —Å —Ä–∞–Ω–¥–æ–º–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Å –ø–æ–º–æ—â—å—é Pandas/Numpy)
 5. –ò–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ (—á—Ç–æ –¥–∞—ë—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç?)

-----

<font color='fuchsia' size=5>ROI (Return on Investment ‚Äî –≤–æ–∑–≤—Ä–∞—Ç –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π)</font>
===
–º–µ—Ç—Ä–∏–∫–∞ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –≤–æ–∑–≤—Ä–∞—Ç –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –æ—Ç –≤–ª–æ–∂–µ–Ω–Ω—ã—Ö –¥–µ–Ω–µ–≥ –≤ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥
--
<font color='green' size=5>—Ñ–æ—Ä–º—É–ª–∞:</font>
    $\LARGE ROI=\frac{(\text{–î–æ—Ö–æ–¥ - –†–∞—Å—Ö–æ–¥—ã})}{\text{–†–∞—Å—Ö–æ–¥—ã –Ω–∞ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥}}*100 \%$

<font color='brown' size=5>–ø—Ä–∏–º–µ—Ä:</font>

In [1]:
import pandas as pd
import numpy as np

np.random.seed(0)
data = {'–ú–µ—Å—è—Ü':['–Ø–Ω–≤–∞—Ä—å','–§–µ–≤—Ä–∞–ª—å','–ú–∞—Ä—Ç','–ê–ø—Ä–µ–ª—å','–ú–∞–π','–ò—é–Ω—å','–ò—é–ª—å','–ê–≤–≥—É—Å—Ç','–°–µ–Ω—Ç—è–±—Ä—å','–û–∫—Ç—è–±—Ä—å','–ù–æ—è–±—Ä—å','–î–µ–∫–∞–±—Ä—å'], 
        '–î–æ—Ö–æ–¥—ã': np.random.randint(100_000, 150_000, size=12),
        '–†–∞—Å—Ö–æ–¥—ã': np.array([100_000]*12),
        '–†–∞—Å—Ö–æ–¥—ã –Ω–∞ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥': np.random.choice([5000,10000], size=12),
        'ROI (–≤ %)': np.arange(12)} 
df = pd.DataFrame(data)
df["–†–∞—Å—Ö–æ–¥—ã"] = np.where(df["–†–∞—Å—Ö–æ–¥—ã –Ω–∞ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥"] == 5000, df["–†–∞—Å—Ö–æ–¥—ã"]+5000, df["–†–∞—Å—Ö–æ–¥—ã"]+10000)
df['ROI (–≤ %)'] = ((df['–î–æ—Ö–æ–¥—ã']-df['–†–∞—Å—Ö–æ–¥—ã'])/df['–†–∞—Å—Ö–æ–¥—ã –Ω–∞ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥']*100).round()
df

       –ú–µ—Å—è—Ü  –î–æ—Ö–æ–¥—ã  –†–∞—Å—Ö–æ–¥—ã  –†–∞—Å—Ö–æ–¥—ã –Ω–∞ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥  ROI (–≤ %)
0     –Ø–Ω–≤–∞—Ä—å  102732   105000                  5000      -45.0
1    –§–µ–≤—Ä–∞–ª—å  143567   105000                  5000      771.0
2       –ú–∞—Ä—Ç  142613   105000                  5000      752.0
3     –ê–ø—Ä–µ–ª—å  145891   105000                  5000      818.0
4        –ú–∞–π  121243   110000                 10000      112.0
5       –ò—é–Ω—å  130403   105000                  5000      508.0
6       –ò—é–ª—å  132103   110000                 10000      221.0
7     –ê–≤–≥—É—Å—Ç  141993   110000                 10000      320.0
8   –°–µ–Ω—Ç—è–±—Ä—å  120757   105000                  5000      315.0
9    –û–∫—Ç—è–±—Ä—å  146884   105000                  5000      838.0
10    –ù–æ—è–±—Ä—å  114935   110000                 10000       49.0
11   –î–µ–∫–∞–±—Ä—å  115430   110000                 10000       54.0

–ï—Å–ª–∏ –º–µ—Ç—Ä–∏–∫–∞ ROI –º–µ–Ω—å—à–µ 0% ‚Äî –≤—ã –ø–æ–Ω–µ—Å–ª–∏ —É–±—ã—Ç–∫–∏. –ï—Å–ª–∏ —Ä–∞–≤–µ–Ω 0% ‚Äî –≤–ª–æ–∂–µ–Ω–∏—è –æ–∫—É–ø–∏–ª–∏—Å—å, –Ω–æ –ø—Ä–∏–±—ã–ª–∏ –Ω–µ—Ç. –ï—Å–ª–∏ –±–æ–ª—å—à–µ 0% ‚Äî –≤—ã –ø–æ–ª—É—á–∏–ª–∏ –ø—Ä–∏–±—ã–ª—å
--

---

<font color='fuchsia' size=5>CRR (Customer Retention Rate ‚Äî –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç —É–¥–µ—Ä–∂–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–æ–≤)</font>
===
–º–µ—Ç—Ä–∏–∫–∞ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç—Å—è –¥–ª—è —Å–æ–≤–µ—Ä—à–µ–Ω–∏—è –ø–æ–≤—Ç–æ—Ä–Ω—ã—Ö –ø–æ–∫—É–ø–æ–∫
--
<font color='green' size=5>—Ñ–æ—Ä–º—É–ª–∞:</font>
    $\large CRR=\frac{(\text{–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∫–æ–Ω—Ü–µ –ø–µ—Ä–∏–æ–¥–∞ - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–æ–≤—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –∑–∞ –ø–µ—Ä–∏–æ–¥})}{\text{–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –Ω–∞—á–∞–ª–µ —Ä–∞—Å—á–µ—Ç–Ω–æ–≥–æ –ø–µ—Ä–∏–æ–¥–∞}}*100 \%$

**—Ñ–æ—Ä–º—É–ª–∞ —Ä–∞—Å—á–µ—Ç–∞ "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∫–æ–Ω—Ü–µ –ø–µ—Ä–∏–æ–¥–∞":**
$\scriptsize \text{–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∫–æ–Ω—Ü–µ –ø–µ—Ä–∏–æ–¥–∞} =\text{–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –Ω–∞—á–∞–ª–µ –ø–µ—Ä–∏–æ–¥–∞ + –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–æ–≤—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –∑–∞ –ø–µ—Ä–∏–æ–¥ - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–∞–∫—Ç–∏–≤–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –∑–∞ –ø–µ—Ä–∏–æ–¥}$

<font color='brown' size=5>–ø—Ä–∏–º–µ—Ä:</font>

In [2]:
np.random.seed(0)
data_crr = {'CustomerID': np.random.randint(1, 20, size=20), 
        'CustomerPurchases': np.random.randint(0, 20, size=20),
        'NewCustomerIndicator': np.array([0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0])} 

df_crr = pd.DataFrame(data_crr)
df_crr.index = np.arange(1, len(df_crr)+1)
df_crr["CustomerPurchases"] = np.where(df_crr["CustomerID"].isin([10,18,9]), 
                                        ~df_crr["CustomerPurchases"] == 0, df_crr["CustomerPurchases"])
# 18,10,9 - –Ω–µ–∞–∫—Ç–∏–≤–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç—ã
# 5,19,16,15 - –Ω–æ–≤—ã–µ –∫–ª–∏–µ–Ω—Ç—ã

df_crr

    CustomerID  CustomerPurchases  NewCustomerIndicator
1           13                 19                     0
2           16                 16                     1
3            1                 19                     0
4            4                  5                     0
5            4                 15                     0
6            8                 15                     0
7           10                  0                     0
8           19                 18                     1
9            5                  3                     1
10           7                 17                     0
11          13                 19                     0
12           2                 19                     0
13           7                 19                     0
14           8                 14                     0
15          15                  7                     1
16          18                  0                     0
17           6                  1                     0
18          14                  9                     0
19           9                  0                     0
20          10                  0                     0

$\large 11_\text{(–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –Ω–∞—á–∞–ª–µ –ø–µ—Ä–∏–æ–¥–∞)} - 3_\text{(–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–∞–∫—Ç–∏–≤–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤)} + 4_\text{(–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–æ–≤—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤)} = 12_\text{(–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∫–æ–Ω—Ü–µ –ø–µ—Ä–∏–æ–¥–∞)}$

$\large CRR=\frac{(\text{12 - 4})}{\text{11}}*100 \% \thickapprox 72\%$

–ú–µ—Ç—Ä–∏–∫–∞ CRR, –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É–µ—Ç —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç—å —É–¥–µ—Ä–∂–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–æ–≤. </br>–ß–µ–º –≤—ã—à–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å, —Ç–µ–º –ª—É—á—à–µ —Ä–∞–±–æ—Ç–∞–µ—Ç —Å—Ç—Ä–∞—Ç–µ–≥–∏—è —É–¥–µ—Ä–∂–∞–Ω–∏—è 
--

---

<font color='fuchsia' size=5>CR (Churn rate ‚Äî –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –æ—Ç—Ç–æ–∫–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤) </font>
===
–º–µ—Ç—Ä–∏–∫–∞ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –ø—Ä–æ—Ü–µ–Ω—Ç –æ—Ç—Ç–æ–∫–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏ –≤–º–µ—Å—Ç–µ —Å —Ç–µ–º - –≤—ã—Ä—É—á–∫–∏
--
<font color='green' size=5>—Ñ–æ—Ä–º—É–ª–∞:</font>
    $\large CR=\frac{(\text{–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –Ω–∞—á–∞–ª–µ –ø–µ—Ä–∏–æ–¥–∞ - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∫–æ–Ω—Ü–µ –ø–µ—Ä–∏–æ–¥–∞})}{\text{–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –Ω–∞—á–∞–ª–µ –ø–µ—Ä–∏–æ–¥–∞}}*100 \%$

<font color='brown' size=5>–ø—Ä–∏–º–µ—Ä:</font>

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –Ω–∞—á–∞–ª–µ –ø–µ—Ä–∏–æ–¥–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä –∑–∞ –º–µ—Å—è—Ü) - **1500 –∫–ª–∏–µ–Ω—Ç–æ–≤** </br>
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∫–æ–Ω—Ü–µ –ø–µ—Ä–∏–æ–¥–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä –∑–∞ –º–µ—Å—è—Ü) - **1600 –∫–ª–∏–µ–Ω—Ç–æ–≤** </br>

$\large CR = \frac{(1500-1600)}{1500}*100 \% \thickapprox -7 \%$

–î–æ–ø—É—Å—Ç–∏–º—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è Churn rate –æ—Ç–ª–∏—á–∞—é—Ç—Å—è –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å—Ñ–µ—Ä—ã –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –ø—Ä–µ–¥–ø—Ä–∏—è—Ç–∏—è. –ù–æ—Ä–º–∞ –¥–ª—è SaaS —Å–µ—Ä–≤–∏—Å–æ–≤ –æ—Ç 4 –¥–æ 6%, –¥–ª—è –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –µ–∂–µ–¥–Ω–µ–≤–Ω–æ–≥–æ —Å–ø—Ä–æ—Å–∞ –æ—Ç 10 –¥–æ 11%, –¥–ª—è –æ–Ω–ª–∞–π–Ω –∏ —Ü–∏—Ñ—Ä–æ–≤–æ–≥–æ —Ç–µ–ª–µ–≤–∏–¥–µ–Ω–∏—è –æ—Ç 11 –¥–æ 13%. –û—Ç–¥–µ–ª—å–Ω—ã–µ –Ω–æ—Ä–º—ã churn rate –¥–ª—è –Ω–æ–≤–∏—á–∫–æ–≤ —Ä—ã–Ω–∫–∞ –∏ —Å—Ç–∞—Ä—Ç–∞–ø–æ–≤. –¢–∞–º –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –æ—Ç—Ç–æ–∫–∞ –º–æ–∂–µ—Ç –¥–æ—Å—Ç–∏–≥–∞—Ç—å 20%. </br>–û—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Å–≤–∏–¥–µ—Ç–µ–ª—å—Å—Ç–≤—É–µ—Ç –æ–± –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–∏ –æ—Ç—Ç–æ–∫–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤
--